/.bundle
/log
/tmp
/public/assets
/public/widgets

/config/database.yml
/config/redis.yml
/config/shards.yml

/config/GeoIPCity.dat

/config/config.development.yml
/config/config.test.yml
/config/config.production.yml
/bin
/test
/vendor
