.joyride-close-tip {
//  display: none;
}
.title .probability-sum {
  cursor: pointer;
  &.alert{
    color: $alert-color;
  }
  &.success{
    cursor: normal;
  }
}
#help_button {
  position: fixed;
  left: 90%;
  font-size: rem-calc(32);
  font-weight: 100;
  padding: rem-calc(3 12);
  color: $anchor-font-color;
  cursor: pointer;
  z-index: 3;
  border: 1px solid darken($secondary-color, 5%);
  box-shadow: 0 0 rem-calc(20) #EEE;
  &:hover{
    background-color: darken($secondary-color, 5%);
  }
}
#groups {
  .row {
    padding: rem-calc(5) 0;
  }
  .group {
    .button {
      width: 100%;
      margin: rem-calc(20) 0 0 0;
    }
  }
  .full-url-input {
    background-color: white;
    border-color: $primary-color;
    border-right: none;
    margin: 0;
  }
}
#group {
  #url {
    label {
      font-weight: bold;
      padding: rem-calc(12 5);
    }
  }
  #rules {
    .rule {
      .rule_perc_slider {
        margin: rem-calc(10) 0;
      }
      .button {
        padding-top: 1px;
        i {
          font-size: rem-calc(22);
        }
      }
      .button.postfix {
        &:first-child {
          border-right: 1px solid darken($primary-color, 5%);
        }
        &:last-child {
          border-left: 1px solid lighten($primary-color, 5%);
        }
      }
    }
  }
}
#stabilize, #add-rule, #save-group {
  width: 100%;
}
@media #{$small-only} {
  #help_button {
    left: 84%;
  }
}
